{% set title = hero.title|default('') %}
{% set type_label = hero.type_label|default('') %}
{% set status_label = hero.status_label|default('') %}
{% set status = hero.status|default('') %}
{% set is_active = hero.is_active|default(false) %}
{% set cover_url = hero.cover_url|default('') %}
{% set cover_thumb = hero.cover_thumb|default('') %}
{% set schedule_summary = hero.schedule_summary|default('') %}
{% set display_label = hero.display_label|default('') %}
{% set weekly_schedule = hero.weekly_schedule|default({}) %}
{% set price_label = hero.price_label|default('') %}

<section class="mj-event-page__hero">
    <div class="mj-event-page__hero-content">
        <div class="mj-event-page__hero-text">
            {# Badges #}
            <div class="mj-event-page__badges">
                {% if status_label and not is_active %}
                    <span class="mj-event-page__badge mj-event-page__badge--status mj-event-page__badge--{{ status }}">{{ status_label }}</span>
                {% endif %}
            </div>

            {# Titre #}
            <h1 class="mj-event-page__title">{{ title }}</h1>

            {% if hero.schedule_component %}
                {{ hero.schedule_component|raw }}
            {% elseif schedule_summary %}
                <p class="mj-event-page__date">{{ schedule_summary }}</p>
            {% elseif display_label %}
                <p class="mj-event-page__date">{{ display_label }}</p>
            {% endif %}

            {# Tarif #}
            {% if price_label %}
                <div class="mj-event-page__price">
                    <svg class="mj-event-page__price-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 9a3 3 0 0 1 0 6v2a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-2a3 3 0 0 1 0-6V7a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2Z"/><path d="M13 5v2"/><path d="M13 17v2"/><path d="M13 11v2"/></svg>
                    <span class="mj-event-page__price-text">{{ price_label }}</span>
                </div>
            {% endif %}
        </div>

        {# Image de couverture #}
        {% if cover_url %}
            <div class="mj-event-page__hero-cover">
                {% if type_label %}
                    <span class="mj-event-page__badge mj-event-page__badge--type">{{ type_label }}</span>
                {% endif %}
                <img 
                    src="{{ cover_url|esc_url }}" 
                    alt="{{ title|esc_attr }}" 
                    loading="eager"
                    decoding="async"
                />
            </div>
        {% endif %}
    </div>
</section>
