<div class="mj-schedule mj-schedule--recurring mj-schedule--monthly">
    {% if summary %}
        <p class="mj-schedule__summary">{{ summary }}</p>
    {% endif %}

    {% if weekly.show_date_range and primary_label %}
        <p class="mj-schedule__period">{{ primary_label }}</p>
    {% endif %}

    <div class="mj-schedule__item">
        <span class="mj-schedule__item-day">{{ weekly.monthly_label }}</span>
        {% if weekly.time_range %}
            <span class="mj-schedule__item-time">{{ weekly.time_range }}</span>
        {% endif %}
    </div>

    {% if next_occurrence_label %}
        <p class="mj-schedule__next">{{ next_occurrence_label }}</p>
    {% endif %}
</div>
